<div style="border:0px solid #ddd;height: auto;" class="form-horizontal">
<div class="form-group">
	<label for="" class="col-md-2 col-xs-2 control-label">业务：<span class="" style="color:red">*</span></label>
	 <div class="col-md-5 col-xs-5">
	    <select class="cc_app_select2" style="${width_px}">
	    	% for i in app_list:
	        <option value="${i['id']}">${i['text']}</option>
	        % endfor
	    </select>
	 </div>
</div>
<script type="text/javascript">
    // select2 基础
    $(".cc_app_select2").select2({
        placeholder: '请选择业务'
    });
</script>
